{% extends "base.html" %} {% load static %} {% block content %}

<!-- Page Preloder -->
<div id="preloder">
  <div class="loader"></div>
</div>

<!-- Hero section -->
<section class="hero-section overflow-hidden">
  <div class="hero-slider owl-carousel">
    {% for obj in object_list %}
    <div
      class="testclass hero-item set-bg d-flex align-items-center justify-content-center text-center"
      data-setbg="{{ obj.thumbnail.url }}"
    >
      <div class="container">
        <h2 style="font-size: 3rem">{{ obj.title }}</h2>
        <p>{{ obj.overview }}</p>
        <a href="#" class="site-btn"
          >Read More <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"
        /></a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- Hero section end-->

<!-- Intro section -->
<section class="intro-section">
  <div class="container">
    <div class="row">
      {% for obj in topnews %}
      <div class="col-md-4">
        <div class="intro-text-box text-box text-white">
          <div class="top-meta">
            {{ obj.timestamp.date }} / in {% for cat in obj.categories.all %}
            <a href="">{{ cat }}</a>
            {% endfor %}
          </div>
          <h3>{{ obj.title }}</h3>
          <p>{{ obj.overview }}</p>
          <a href="#" class="read-more"
            >Read More <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"
          /></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- Intro section end -->

<!-- Blog section -->
<section class="blog-section spad">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8 col-md-7">
        <div class="section-title text-white">
          <h2>Latest News</h2>
        </div>
        <ul class="blog-filter">
          <li><a href="#">Racing</a></li>
          <li><a href="#">Shooters</a></li>
          <li><a href="#">Strategy</a></li>
          <li><a href="#">Online</a></li>
        </ul>
        <!-- Blog item -->
        {% for obj in latest %}
        <div class="blog-item">
          <div class="blog-thumb">
            <img src="{{ obj.thumbnail.url }}" alt="" />
          </div>
          <div class="blog-text text-box text-white">
            <div class="top-meta">
              {{ obj.timestamp.date }} / in {% for cat in obj.categories.all %}
              <a href="">{{ cat }}</a>
              {% endfor %}
            </div>
            <h3>{{ obj.title }}</h3>
            <p>{{ obj.overview }}</p>
            <a href="#" class="read-more"
              >Read More <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"
            /></a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-xl-3 col-lg-4 col-md-5 sidebar">
        <div id="stickySidebar">
          <div class="widget-item">
            <h4 class="widget-title">Trending</h4>
            <div class="trending-widget">
              {% for obj in trending %}
              <div class="tw-item">
                <div class="tw-thumb">
                  <img src="{{ obj.thumbnail.url }}" width="80px" alt="#" />
                </div>
                <div class="tw-text">
                  <div class="tw-meta">
                    {{ obj.timestamp.date }} / in {% for cat in obj.categories.all %}
                    <a href="">{{ cat }}</a>
                    {% endfor %}
                  </div>
                  <h5>{{ obj.title }}</h5>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="widget-item">
            <div class="categories-widget">
              <h4 class="widget-title">categories</h4>
              <ul>
                {% for cat in category_count %}
                <li>
                  <a href="">{{ cat.categories__title }}: {{ cat.categories__title__count }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="widget-item">
            <a href="#" class="add">
              <img src="{% static './img/add.jpg' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog section end -->

<!-- Intro section -->
{% for obj in latestvideo %}
<section
  class="intro-video-section set-bg d-flex align-items-end"
  data-setbg="{{ obj.thumbnail.url }}"
>
  <a href="{{obj.videolink}}" class="video-play-btn video-popup"
    ><img src="{% static 'img/icons/solid-right-arrow.png' %}" alt="#"
  /></a>
  <div class="container">
    <div class="video-text">
      <h2>{{ obj.title }}</h2>
      <p>{{ obj.overview }}</p>
    </div>
  </div>
</section>
{% endfor %}
<!-- Intro section end -->

<!-- Featured section -->
<section class="featured-section">
  {% for obj in latestreview %}
  <div class="featured-bg set-bg" data-setbg="{{ obj.thumbnail.url }}"></div>
  <div class="featured-box">
    <div class="text-box">
      <div class="top-meta">
        {{ obj.timestamp.date }} / in {% for cat in obj.categories.all %} <a href="">{{ cat }}</a>
        {% endfor %}
      </div>
      <h3>{{ obj.title }}</h3>
      <p>{{ obj.overview }}</p>
      <a href="#" class="read-more"
        >Read More <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"
      /></a>
    </div>
  </div>
  {% endfor %}
</section>
<!-- Featured section end-->

<!-- Newsletter section -->
<section class="newsletter-section">
  <div class="container">
    <h2>Subscribe to our newsletter</h2>
    <form action="." method="POST" class="newsletter-form">
      {% csrf_token %}
      <input type="email" name="email" id="email" placeholder="ENTER YOUR E-MAIL" />
      <button class="site-btn">
        subscribe
        <img src="{% static 'img/icons/double-arrow.png' %}" alt="#" />
      </button>
    </form>
  </div>
</section>
<!-- Newsletter section end -->

{% endblock content %}
